<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout">
	<head>
	   <meta charset="utf-8">
	   <title>Liste produit</title>
	</head> 
	
	<div layout:fragment="content">
		<h1>Liste des produits</h1>
		
		<div class="d-flex justify-content-end mb-3">
			<select id="boutique-select" class="form-select">
				<option value="">Sélectionnez une boutique</option>
				<option th:each="boutique : ${boutiques}" th:value="${boutique.id}" th:text="${boutique.nom}"></option>
			</select>
		</div>
		<script>
			document.getElementById('boutique-select').addEventListener('change', function() {
				var boutiqueId = this.value;
				if (boutiqueId) {
					window.location.href = '/produit/liste-produit?boutique=' + boutiqueId;
				}
			});
		</script>
		<table class="table datagrid" id="liste">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Code article</th>
						<th scope="col">Libellé</th>
						<th scope="col">Prix HT</th>
						<th scope="col">Nombre d'articles/colis</th>
						<th scope="col">Code Barre</th>
						<th scope="col">Libellé famille</th>
						<th scope="col">Code famille</th>
						<th scope="col">Etat article</th>
						<th scope="col">Dispo web</th>
						<th scope="col">Rupture stock</th>
						
					</tr>
				</thead>
				<tbody>
						<tr th:each="p : ${produits} ">
							<td> [[${p.codeArticle}]] </td>
							<td> [[${p.nom}]] </td>
							<td> [[${p.prix1}]] </td>
							<td> [[${p.nombreArticleColis}]] </td>
							<td> [[${p.codeBarre}]] </td>
							<td> [[${p.famille}]] </td>
							<td> [[${p.familleCode}]] </td>
							<td> [[${p.etat}]] </td>
							<td> [[${p.dispoWeb}]] </td>
							<td> [[${p.ruptureDeStock}]] </td>
							
						</tr>									
				</tbody>
			</table>
				
	</div>
	<!-- fin content -->
	<div layout:fragment="js">
		<script>
			$(document).ready(function() {
				
				$('#liste').DataTable({
								"language": {
									"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
								}
							});
		
			});	
		</script>
	</div>   
</html>		 
